[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
util
emailjs
config
flask = "*"
gunicorn = "*"
psycopg2 = "*"
geopy = "*"
flask-cors = "*"

[dev-packages]

[requires]
python_version = "3.9"
